<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conservation Efforts</title>
  </head>
  <body>
    <nav id="nav">
      <a href="/">Home</a> <a href="/black-bear">Black Bear</a
      ><a href="/panda-bear">Panda Bear</a> <a href="/polar-bear">Polar Bear</a
      ><a href="/grizzly-bear">Grizzly Bear</a><a href="/sun-bear">Sun Bear</a
      ><a href="/conservation-efforts">Conservation</a>
    </nav>
    <h1>Conservation Efforts</h1>
  </body>
</html>
