<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grizzly Bears</title>
  </head>
  <body>
    <nav id="nav">
      <a href="/">Home</a> <a href="/black-bear">Black Bear</a
      ><a href="/panda-bear">Panda Bear</a> <a href="/polar-bear">Polar Bear</a
      ><a href="/grizzly-bear">Grizzly Bear</a><a href="/sun-bear">Sun Bear</a
      ><a href="/conservation-efforts">Conservation</a>
    </nav>
    <h1>Grizzly Bears</h1>
    <img
      width="50%"
      alt="Grizzly"
      src="https://images.unsplash.com/photo-1634193944924-18f637999e59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
    />
    <p>
      The grizzly bear, also known as the North American brown bear or simply
      grizzly, is a population or subspecies of the brown bear inhabiting North
      America. In addition to the mainland grizzly, other morphological forms of
      brown bear in North America are sometimes identified as grizzly bears.
    </p>
  </body>
</html>
