<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panda Bears</title>
  </head>
  <body>
    <nav id="nav">
      <a href="/">Home</a> <a href="/black-bear">Black Bear</a
      ><a href="/panda-bear">Panda Bear</a> <a href="/polar-bear">Polar Bear</a
      ><a href="/grizzly-bear">Grizzly Bear</a><a href="/sun-bear">Sun Bear</a
      ><a href="/conservation-efforts">Conservation</a>
    </nav>
    <h1>Panda Bears</h1>
    <img
      width="50%"
      alt="Panda"
      src="https://images.unsplash.com/photo-1597953601374-1ff2d5640c85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    />
    <p>
      The giant panda, also known as the panda bear, is a bear native to South
      Central China. It is characterised by its bold black-and-white coat and
      rotund body. The name "giant panda" is sometimes used to distinguish it
      from the red panda, a neighboring musteloid.
    </p>
  </body>
</html>
