<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Polar Bears</title>
  </head>
  <body>
    <nav id="nav">
      <a href="/">Home</a> <a href="/black-bear">Black Bear</a
      ><a href="/panda-bear">Panda Bear</a> <a href="/polar-bear">Polar Bear</a
      ><a href="/grizzly-bear">Grizzly Bear</a><a href="/sun-bear">Sun Bear</a
      ><a href="/conservation-efforts">Conservation</a>
    </nav>
    <h1>Polar Bears</h1>
    <img
      width="50%"
      alt="Polar"
      src="https://images.unsplash.com/photo-1589656966895-2f33e7653819?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    />
    <p>
      The polar bear is a hypercarnivorous bear whose native range lies largely
      within the Arctic Circle, encompassing the Arctic Ocean, its surrounding
      seas and surrounding land masses. It is the largest extant bear species,
      as well as the largest extant land carnivore
    </p>
  </body>
</html>
